.history,.mission,.values,.team,.location{
  margin-bottom: 2rem;
  text-align: center; 
}



.our-mission h3{
padding: 30px;
  text-align: center; 

}


.title {
  text-align: center;
}



body {
  background-color: #b6e2ff;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'poppins',sans-serif;
}








#title {

  margin-right: 50px; 
  transition: transform 0.3s ease; 
}




#title:hover {

  transform: translateY(-5px) scale(1.05); 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}




 h1 {
  display: inline;
  margin-right: 1rem;
  text-align: center;
 
}


 


 
     

header {
  display: flex; 
  background-color: #333;
  color: white;
  padding: 1rem;
  height: 90px;
  width: 100%;
 align-items: center;
 justify-content: center;
}

header .logo {
color: #e4c7c7;
font-size: 1.75em;
font-weight: 600;
text-decoration: none;

}

header ul {
position: relative;

}

header ul li {
list-style: none;
position: relative;
float: left;
  
  }
  
  header ul li a {
   color: #e7ffd1;
   font-size: 1.1em;
   padding: 20px 25px;
   text-decoration: none;
   display: flex;
   justify-content: space-between;
      }
      header ul li a:hover {
      background: #3fa6eb;
 }


 header ul li ul {
position: absolute;
left: 0;
width: 200px;
background: #ff9090;
display: none;
 }


 header ul li:hover > ul {
display: block;

 }

 header ul li ul li {
position: relative;
width: 100%;
border: 1px solid  rgba (0,0,0,0.2);
 }

 header ul li ul li ul {
top: 0;
left: 200px;

 }








 .navegacion ul {
  list-style: none;
  padding: 0 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  flex: 1;
}


.navegacion {
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
  z-index: 1000;
}


.navegacion ul li {
  display: inline-block;
  position: relative;
  transition: .3s linear;
  z-index: 1000;
}

.navegacion ul li:hover{
  transform: scale(1.1);
}


.navegacion ul li a {
  color: #e6b6b6;
  text-align: center;
   text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  transition: .3s linear;
  }
  


  .valore {
    width: 25%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }


.map {
filter: grayscale(100%) invert(92%) contrast(93%);

}


 



.navegacion ul { list-style: none; 
  padding: 0; 
  display: flex; 
  justify-content: space-around; }

.navegacion ul li { display: inline-block; 
  position: relative; 
  transition: .3s linear;
   z-index: 1000; }













.navegacion ul li:hover .hijos {
  display: block;
}

.navegacion .submenu .hijos {
  display: none;
  background: #caffe6e0;
  position: absolute;
  width: 150%;

}

.navegacion .submenu .hijos li  {
  display: block;
  overflow: hidden;
  border-bottom: none;

}

.navegacion .submenu .hijos li a {
  display: block;

}


.navegacion .submenu .hijos li a:hover {
  background: #fff;
  color: #000;
 
}

.navegacion .submenu .hijos li:first-child a {
  border-top: 1px solid #fff;
}
.navegacion ul li a {
  color: #e6b6b6; 
  text-align: center; 
  text-transform: uppercase; 
  font-size: 14px; 
  font-weight: bold; 
  padding: 12px 20px; 
  transition: .3s linear;
  text-decoration: none;
 }

.navegacion ul li:hover > a {
  background: #3fa6eb; }

.navegacion { display: flex;
  align-items: center;
   min-height: 90px;
    z-index: 1000; }

    .navegacion ul li:hover { 
      transform: scale(1.1); }



































.team-member {
  width: 300px;
  margin: 0 auto 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.team-member img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.team-member h2 {
  margin: 10px 0 0 0;
  text-align: center;
}

.team-member p {
  margin: 5px 0 10px 0;
  text-align: center;
}


html{
  scroll-behavior: smooth;
}


.interior{
max-width: 100%;
padding: 0 10px;
margin: auto;
}


  
  
.logo {
float: left;
padding: 5px 20px 0;
text-decoration: none; 
font-weight: 600;
color: #e4c7c7; 
}

.logo img {
height: 80px;

}

.logo img:hover {
  transform: scale(1.1);
}


.section [id] {
scroll-margin-top: 70px;

}



















      .title-container {
        text-align: center; 
        display: block;
        margin: 20px;
        padding: 10px 0;
        background-color: #f0f0f0;
        border: 2px solid #333;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        
      }

      
      .coffee-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
      }
      
      .coffee-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      .coffee-item h3 {
        margin: 0;
        font-size: 18px;
        color: #333;
      }
      
      .coffee-item p {
        margin: 0;
        font-size: 14px;
        color: #777;
        text-align: center;
      }


.featured-cofi.jpg {
    margin-bottom: -20px;
    height: 20px; 
    background-color: #636363ce; 
    color: #333; 
    border-radius: 5px;
    border: 1px solid #4e4d4d;
    margin: 20px;
    display: block;
    text-align: center;
    content: "";

}

.featured-cofi.jpg img {

    border-radius: 5px;
    height: 120px; 
    margin-bottom: 20px;
    width: 80px; 
  }


.featured-cofi.jpg h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.featured-cofi.jpg p {
    font-size: 16px;
    line-height: 1.5;
}


.featured-cofi {
text-align: center;
padding: 20px;
margin: 20px; 
border: 1px solid #efd7d7b8; 
border-radius: 5px; 

}


.featured-cofi img {
border-radius: 5px;
height: 200px; 
margin-bottom: 20px;
width: 300px; 

}


.featured-cofi h2 {

margin-bottom: 20px;

}


.featured-cofi p {

margin-bottom: 0;
color: #020202;
}


.team h2 {
  margin-bottom: 20px;
  
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.team-member {
  background-color: #362f2fcc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.team-member img {
  border-radius: 50%;
  height: 150px;
  margin-bottom: 10px;
  width: 150px;
}

.team-member h3 {
  margin-bottom: 10px;

}

.team-member p {
  margin-bottom: 0;
}

.title-container h2 {
  color: #333;
}


.title-container {
  text-align: center;
  display: block;
  margin: 20px;
  padding: 10px 0;
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}











.menu-opciones {
  padding: 100px;
  background-color: #f0f0f0;
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.history-text {
  margin-top: 5px;
  color: #020202; 
  font-size: 16px;
  font-weight: normal;
}





.framed-paragraph {

  border: 2px solid rgb(181, 225, 255);
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #e1ddfc59;
  border-radius: 10px;
  transition: border-color 0.3s ease;

}

#coffee-cup {
  padding-top: 5px;
  width: 50px; 
  height: auto; 
  border-radius: 20px; 
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); 
  filter: brightness(120%); 

}

.framed-paragraph:hover{
  border-color: rgb(71, 71, 71);
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.menu-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 10px;
  display: flex;
}
.menuToggle { display: none; 
  background-color: #333; 
  color: #fff; 
  padding: 10px; 
  text-align: center; 
  cursor: pointer; }

.menu-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(239, 252, 245);
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: transform 3s;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}
.menu-container-title:hover {
  transform: translateY(-50px);
}
.menu-title {
  margin: 15px;
  font-size: 36px;
  color: #333;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.menu-item-1 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 225, 171, 0.836);
  transition: 0.3s;
    width: 80%;
    height: 80%;
   margin-top: 10px;
}
.menu-item-1:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.menu ul {
  list-style-type: none;
  padding: 0;
}
.menu li {
  margin-bottom: 1rem;
}

.menu-item-2 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 225, 171, 0.836);
  transition: 0.3s;
    width: 80%;
    height: 80%;
   margin-top: 10px;
}
.menu-item-2:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.menu-item.selected .selected-box {
  display: block;
}
.menu-item.selected {
  background-color: #cbadf3;
  border: 1px solid #666;
}
.menu-item-3 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 225, 171, 0.836);
  transition: 0.3s;
    width: 80%;
    height: 80%;
   margin-top: 10px;
  
}

.menu-item-3:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-item-4 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 225, 171, 0.836);
  transition: 0.3s;
    width: 80%;
    height: 80%;
   margin-top: 10px;
  
}

.menu-item-4:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.menu-item-5 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 225, 171, 0.836);
  transition: 0.3s;
    width: 80%;
    height: 80%;
   margin-top: 10px;
}
.menu-item-5:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.menu-item-6 {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 225, 171, 0.836);
  transition: 0.3s;
    width: 80%;
    height: 80%;
   margin-top: 10px;
}
.menu-item-6:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}








.mi-clase-1 { 

  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;

}
















 h3 {
  margin: 0;
  font-size: 20px;
  color: #424b49fb;

}







.our-mission p {

  color: #000000; 

}



















.our-history {
  background-color: #88d9ff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc; 
}



  
  
  











.el-container {
  position: relative;
height: 12vh;
}

.frame {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background-color: #c3ddffc7;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  display: flex;
  transition: all 0.3s ease-in-out;
}

.frame h2 {
  margin: 0;
  padding: 0px;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}


.frame:hover {
  background-color: #c4dfff; 
  box-shadow: 4px 4px 10px rgb(0, 0, 0); 
}



.rounded-image-cafe {
  border-radius: 20px;
}



.select-button {
  background-color: #83dcff5d; 
  color: #333; 
  border: 1px solid #ccc; 
  padding: 5px 10px; 
  font-size: 14px; 
  cursor: pointer; 
}

.select-button:hover {
  background-color: #f2f2f2; 
}

.select-button:focus {
  outline: none; 
}

.select-button:active {
  background-color: #bbf7ff; 
}


.selected-box {
  display: none;
  width: 20px;
  height: 20px;
  background-color: #a4ff98;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}



.select-button-1 {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}



.select-button-2 {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.select-button-3 {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.select-button-4{
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.select-button-5 {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.select-button-6 {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}
 










 
 



 .our-history p{
    color: #000000;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 40px; 
    margin-bottom: 30px; 
  }


.our-mission-p {
  margin: 20px;
  font-size: 14px;
  color: #000;

  
}

.our-history.mission {
  display: flex;
}



.image-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 5%;
  vertical-align: middle;
  overflow: hidden;
}

.image-container img {

  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  object-fit: cover;
  transition: transform 0.5s;
}

.image-container:hover img {
  transform: rotate(10deg);
}




.location-title {
  color: #444444;
}

.location p {
  color: #333; 
  padding: 10px;
}


h2 {
  color: #444444;
}
h2:contains("Our Location") {
  color: #444444;
}

.whatsapp-button {
  padding: 0 10px;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25d366;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 0.8em;

}
.whatsapp-button:hover {
  background-color: #12b854;
}
.whatsapp-button i {
  margin-right: 5px;
  font-size: 1.2em;
}

.whatsapp-button span {
  font-size: 0.9em;
  text-align: center;
  margin-top: 2px;
  color: #ffffff;
}






@media (max-width: 350px) {
  .interior {
    max-width: 100%;
  }

  .header {
    height: 120px;
  }
  #title {
    font-size: 20px;
    line-height: 1.2;
  }
  .menuToggle {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .navegacion {
    display: block;
    position: relative;
  }
  .navegacion ul {
    flex-direction: column;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    display: none;
  }
  .navegacion.active { 
    display: flex; }
  .navegacion.active ul { 
    display: flex; }
  .navegacion ul li a {
    padding: 10px; }
  .navegacion li {
    margin-right: 0;
    display: block;
  }
  .submenu {
    position: static;
  }
  .hijos {
    position: static;
    padding: 0;
  }
}




@media (max-width: 350px) {
  .menu-item {
    width: 30%;
    flex: 1;
    flex-direction: column;
  }
  .menu-item img {
    height: 100px;
  }
  .menu-item h3 {
    font-size: 18px;
  }
  .menu-item p {
    font-size: 12px;
  }
  .select-button {
    font-size: 12px;
    padding: 6px 12px;
  }
  .selected-box {
    width: 10px;
    height: 10px;
  }
}




  


  
 









 

 
 

 
 

